winlogbeat/kibana/6/index-pattern/winlogbeat.json
winlogbeat/.build_hash.txt
winlogbeat/LICENSE.txt
winlogbeat/NOTICE.txt
winlogbeat/README.md
winlogbeat/fields.yml
winlogbeat/install-service-winlogbeat.ps1
winlogbeat/uninstall-service-winlogbeat.ps1
winlogbeat/winlogbeat.exe
winlogbeat/winlogbeat.yml
winlogbeat/winlogbeat.reference.yml
winlogbeat/data/meta.json
winlogbeat/kibana/5/dashboard/Winlogbeat-Dashboard.json
winlogbeat/kibana/5/index-pattern/winlogbeat.json
winlogbeat/kibana/5/search/Winlogbeat-Search.json
winlogbeat/kibana/5/visualization/Errors-count-over-time.json
winlogbeat/kibana/5/visualization/Event-Levels.json
winlogbeat/kibana/5/visualization/Evolution-of-the-CPU-times-per-process.json
winlogbeat/kibana/5/visualization/Number-of-Events.json
winlogbeat/kibana/5/visualization/Number-of-Events-Over-Time-By-Event-Log.json
winlogbeat/kibana/5/visualization/Sources.json
winlogbeat/kibana/5/visualization/Top-Event-IDs.json
winlogbeat/kibana/6/dashboard/Winlogbeat-overview.json
